<%= render partial: "shared/navbar" %>
<body background="https://4.bp.blogspot.com/-o2fre0YdThA/V6GJEDvgQlI/AAAAAAAAFcE/chSIHexPGVQ2wRDD_AXnqAuQIco4jIjTgCLcB/s1600/photo-1435226148432-67c26cc5cbaf.jpg">

  <div class="container">
    <div class="jumbotron">
      <h2 class="text-center">Athlete Dashboard</h2>
        <h3 class="text-center"><%= current_user.name %></h3>
            <%= image_tag("#{current_user.profile_picture}") %>
          <br>
          <h4 class="text-center"><%= link_to "Friends & Followers", athletes_path %> - <%= link_to "Athlete Stats", "/athletes/#{current_user.user_id}" %> - <%= link_to "Mileage Goals", goals_path %> - <%= link_to "Rides", rides_path %></h4>
    </div>


</div>
