<%= render partial: "shared/navbar" %>
<div class="container">
  <div class="jumbotron">
    <h2 class="text-center">Athlete Breakdown</h2>
      <h3><%= current_user.name %></h3>
        <%= image_tag("#{@athlete.profile}") %>
  </div>

  <div class="panel panel-default">
    <div class="panel panel-body col-md-3">
      <h4><strong>Location</strong></h4>
      <h4>State: <%= current_user.state %></h4>
      <h5>Hometown: <%= current_user.city %></h5>
      <h4><%= @athlete.country %></h4>
      <h5><%= @athlete.city %></h5>
      <h5>Email: <%= current_user.email %></h5>
    </div>
    <div class="panel panel-body col-md-4">
      <h4><strong>Vitals</strong></h4>
      <h5><%= @athlete.sex %></h5>
      <h5>Weight: <%= (current_user.weight).round(2) %> Kilograms</h5>
      <h5>FTP: <%= current_user.ftp %></h5>
      <h5>Threshold Watts/Kilo: <%= (current_user.ftp/current_user.weight).round(2) %> </h5>
    </div>
    <div class="panel panel-body col-md-4">
      <h3>Ride Stats and Totals</h3>
        <h5>Biggest Ride Distance: <%= @athlete_stats.biggest_ride_distance %></h5>
        <h5>Biggest Elevation Gain: <%= @athlete_stats.biggest_climb_elevation_gain %></h5>
        <h5>Most Recent Ride Activity/Totals: <%= @athlete_stats.recent_ride_totals %></h5>
        <h5>Year-to-date totals: <%= @athlete_stats.ytd_ride_totals %></h5>
        <h5>All Ride Totals: <%= @athlete_stats.all_ride_totals %></h5>
    </div>
  </div>
</div>
