<%= render partial: "shared/navbar" %>
<div class="container">
  <div class="jumbotron">
    <h2>All Rides</h2>
  </div>
</div>

<div class="panel panel-default">
  <% @rides.each do |ride| %>
  <div class="panel-heading"><%=link_to ride.name, ride_path(ride.id) %></div>
  <div class="panel-body">
    <h5>description: <%= ride.description %></h5>
    <h5>Distance: <%= ride.distance %></h5>
    <h5>Total Ride Time: <%= ride.moving_time %></h5>
    <h5>Total Elevation Gain: <%= ride.total_elevation_gain %></h5>
    <h5>date: <%= ride.start_date %></h5>
  </div>
  <% end %>
</div>
<br>
