<%= render partial: "shared/navbar" %>
<body background="https://4.bp.blogspot.com/-NUD3Mp-DGxU/V6MLoOlVgeI/AAAAAAAAFdQ/CZC9unb-byQOOVPlITpHp-vDm4ifIWJpgCLcB/s1600/photo-1456404936811-e17d118812ff.jpg">
<div class="container">
  <div class="jumbotron">
    <h2>Ride</h2>
  </div>
</div>

<div class="container">
<div class="panel panel-default">
  <div class="panel panel-body">
    <h2><%= @ride.name %></h2>
    <div class="panel-body">
      <h5>Description: <%= @ride.description %></h5>
      <h5>Distance: <%= meter_to_mile(@ride.distance) %> mi</h5>
      <h5>Total Ride Time: <%= second_to_minute(@ride.moving_time) %> min</h5>
      <h5>Total Elevation Gain: <%= @ride.total_elevation_gain %> meters</h5>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="col-md-4">

  </div>
  <div class="panel col-md-4 text-center">
    <h5 class="text-center"><%= link_to "Rides", rides_path %></h5>
  </div>
  <div class="col-md-4">

  </div>
</div>
